[Game]
FrameRate=30
PauseScreen=on
SafetyMode=on

[Background]
Sprite=:/resources/background.png
Width=800
Height=512
DayDuration=6000

[Stickman]
Size=tiny
XOffset=10
XVelocity=10
Sprites=:/resources/flap_up.png :/resources/flap_down.png
SpriteDuration=250
Jumps=2

[Obstacle1]
Shape=circle
NextObstacle = 200
StartY = 0
Colour = 0
Radius = 40

[Obstacle2]
Shape=rectangle
NextObstacle=200
Colour=#ff0000
Height=20
Width=20

[Obstacle3]
Shape=rectangle
NextObstacle = 100
Colour = 0
Height = 30
Width = 30

[Obstacle4]
Shape=triangle
NextObstacle = 100
